# Glue Report - {{.Time}}

| Step | Module | Success | Notes | Error |
| :------:  | :------: | :------: | :------- | :------: |
{{- range $i, $t := .Traces}}
| {{add $i 1}} | {{.Name}} | {{if .Error}} 🚩 {{else}} ✅ {{end}}  | {{.About}} | {{if .Error}} {{ellipsis (errorstr .Error) }} {{else}} - {{end}} |
{{- end}}

{{ if .Success}}
Glue completed successfully with no errors.
{{ else}}
Glue completed with **{{ .ErrorCount }} errors**.
{{ end}}
